@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
:root{
    --primaryColor:#d56e84;
    --secondaryColor:#eaeaea;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.slide-show{
    height: 100vh;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.2)), url("../image/banner-img1-1860x940_1506c8f432bc8142adcf778620ec2596.jpg") top center/cover no-repeat;
  
    transition: all 0.2s linear;
}
.slide-show h1,.slide-show h2,.slide-show img{
    position: absolute;
    color: #fff;
    font-family: 'Dancing Script', cursive;
    transform: translate(-50%,-50%);
}
.slide-show h1{
 
    top: 40%;
    left: 50%;
    font-size: 70px;
  
}
.slide-show h2{

    top: 50%;
    left: 50%;
    font-size: 50px;

}
.slide-show img{
    top: 60%;
    left: 50%;
    font-size: 50px;
}
.about{
    justify-content: center;
    display: flex;
    height: 130vh;
}
.content-about{
    width: 60%;
    height: 100%;
}

.content-about p{
    margin-top: 30px;
    margin-bottom: 80px;
    text-align: center;
    letter-spacing: 2px;

}

.container-galley{
    overflow: hidden;
    display: grid;
    width: auto;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr ;
    grid-template-rows: 350px 100px 350px;
    grid-gap: 10px;
    padding: 30px;
    position: relative;
}
.container-galley::after,.container-galley::before{
    content: "";
    position: absolute;
    background:linear-gradient(to right, white 0%, rgba(0, 0, 0, 0) 100%);
    z-index: 2;
    width: 200px;
    height: 850px;
}
.container-galley::after{
    right: 0;
    transform: rotateZ(180deg);
}
.layout-img{
    border-radius: 10px;
    overflow: hidden;
 
    display: inline-block;
    animation: righttoLeft 10s linear infinite;
}
.layout-img.col2{
    width: 640px;
}
.head2{
    grid-column: 1/3;
    grid-row: 1/2;
}
.head2-galley2{
    grid-column: 5/7;
}
.bottom2{
    grid-row: 3/4;
    grid-column: 3/5;
}
.head1{
    grid-row: 1/3;
}
.head1-galley2f{
    grid-row: 1/3;
    grid-column: 7/8;
}
.head1-galley2{
    grid-row: 1/3;
    grid-column:8/9;
}
.bottom1{
    grid-row: 2/4;
}
.bottom1-galley2{
    grid-row: 2/4;
}
.bottom2-galley2{
    grid-column: 7/9;
}
.layout-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
@keyframes righttoLeft{
    0% {
        transform: translateX(0);
    }
    
    100% {
        transform: translateX(calc(-255px * 5.105));
    }
}
.titel{
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titel h1::after{
    content: "__";
    color: black;
    position: relative;
    top: -12px;
    margin-left: 20px;
}
.titel h1::before{
    content: "__";
    color: black;
    position: relative;
    top: -12px;
    margin-right: 20px;
}
.titel h1{
    text-align: center;
    color: var(--primaryColor);
    font-family: 'Dancing Script', cursive;

}
.list-Product{
    height: 80vh;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}
.product{
    width: 25%;
    height: 500px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 30px;
}
.img-product{
    height: 70%;
    background-color: #e28787;
    width: 100%;
}
.img-product img{
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.content-product{
    width: 100%;
    height: 30%;
    margin: 10px;
}
.titel-product {
    text-align: center;
    color: var(--primaryColor);
    font-family: 'Dancing Script', cursive;
}
.product:hover{
    transform: translateY(-40px);
    opacity: 0.8;
}

.achievement{
    height: 80vh;
    background: linear-gradient(rgba(203, 203, 203, 0.4),rgba(203, 203, 203, 0.4)), url("../image/bg-achi.jpg")  center/cover no-repeat;
    display: flex;
    justify-content: space-around;
    background-attachment:fixed ;
}
.achievement div{
    width: 50%;
}
.left-achievement{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: #fff;
    border-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
}
.content-right{
    width: 100%;
    height: 200px;
}
.right-achievement{
    color: #fff;
    border-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer{
    
    height: 30vh;
   box-shadow: -1px -1px 1px ;
   background:  url("../image/bgfooter.jpg") top center/cover no-repeat;
 
   color: #3d3d3d;
}
footer div{
    margin-top: 30px;
    
}
